<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async; let i=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
        <mat-panel-title>
          {{post.id}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>

      <button mat-raised-button
      color="primary"
      (click) = "delete(post.id)">
        Delete
      </button>
      <button mat-raised-button
      color="primary"
      (click) = "likes(post.likes, post.id)">
        Like
      </button>
      <p>{{post.likes}}</p>
    
    </mat-expansion-panel>
</mat-accordion>