<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async; let i=index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
        <mat-panel-title>
          {{post.id}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      <div>
        <button mat-raised-button
        color="primary"
        (click) = "showComments(post.id)">
           See comments
        </button>
      </div>
      <div>
        <button mat-raised-button
        color="primary"
        (click) = "add(post.id,post.title,post.body);saved[i]=!saved[i]"
        [disabled]="saved[i]">
          Save
        </button>
      </div>
      <p *ngIf="saved[i]" style=color:green>Saved</p>
      <div>
        <button mat-raised-button
        color="primary"
        (click) = "classify(post.title,post.body);class[i]=!class[i]">
          Predict
        </button>
      </div>
      <p *ngIf="class[i]">{{prediction}}</p>
    </mat-expansion-panel>
  </mat-accordion>